
@{
    ViewBag.Title = "新建文档";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    //此页面 是混合中英文文档上传
    var thisEditType = 1;//0默认不是编辑也不是预览，1预览 2 编辑
    var thisTab = 1;//当前页tab
   var strEditId = '@ViewData["id"]';

	$(function () { 
        changeFileType(); 
        $("#liUpPage").hide();
        $("#liDownPage").show();
        $("#liSubmitPage").hide();
        $.blockUI({
            message: '<h2 style="color:black;font-size: 14px;"><br>数据加载中...</h2><br>'
        });  
        //全部
        $.ajax({
            url: '/SystemManage/ItemsData/GetSelectJsonByCodes?enCodes=DocumentState,DocumentDomain,CaiBiao,Publisher,Direction',
            datatype: 'json',
            type: 'get',
            async: true,
            success: function (result) {
                var strState = '';
                var strDomain = '';
                var caibiaoData = '';
                var publisherData = '';
                var directionData = '';
                if (result != '' && result != null) { 
                    var obj = eval('(' + result + ')');  
                    $.each(obj[0], function () {
                        this.isCheck = false;
                        strState += '<label class="radio-inline"><input type="radio" onclick="checkFileState(\'' + this.id + '\')" name="F_FileState" txt="' + this.text + '" id="state' + this.id + '" value="' + this.id + '">' + this.text + '</label>'
                    });
                    $('#state_Id').html(strState);
 
                    $.each(obj[1], function () {
						this.isCheck = false;
						strDomain += '<label class="checkbox-inline"><input type="checkbox" name="Domain" id="domain' + this.id + '" value="' + this.id + '">' + this.text + '</label>';
						});
					$('#F_Domain').html(strDomain);

                    $.each(obj[2], function () {
                        this.isCheck = false;
                        caibiaoData += '<label class="checkbox-inline"><input type="checkbox" name="AcquisitionStandard" id="acquisitionStandard' + this.id + '" value="' + this.id + '">' + this.text + '</label>';
                    });
                    $("#F_CaiBiao").append(caibiaoData);
                    $.each(obj[3], function () {
                        this.isCheck = false;
                        publisherData += '<label class="checkbox-inline"><input type="checkbox" name="Publisher" id="publisher' + this.id + '" value="' + this.id + '">' + this.text + '</label>';
                    });
                    $("#F_Publisher").append(publisherData);

                    $.each(obj[4], function () {
                        this.isCheck = false;
                        directionData += '<label class="checkbox-inline"><input type="checkbox" name="Direction" id="direction' + this.id + '" value="' + this.id + '">' + this.text + '</label>';
                    });
                    $("#F_Direction").append(directionData); 
                    if (strEditId != '' && strEditId != null) { 
                        // 类型
			            $("#F_Type option[value='@Model.F_Type']").attr('selected', true);
                        changeFileType();  
			            // 标签
                        document.getElementById("F_Label").innerHTML = '@Model.F_Label'; 
                        // 状态
                        changeSelected("F_FileState", '@Model.F_FileState', 1);
                        changeSelected("Domain", '@Model.F_Domain', 2);// 领域
                        changeSelected("AcquisitionStandard", '@Model.F_AcquisitionStandard', 2);// 采标
                        changeSelected("Publisher", '@Model.F_Publisher', 2);// 发布方
                        changeSelected("Direction", '@Model.F_Direction', 2);// 方向 
		            }  
                    $.unblockUI();
                }
            }
        });
		Date.prototype.Format = function (fmt) {
			var o = {
				"M+": this.getMonth() + 1,
				"d+": this.getDate(),
				"h+": this.getHours(),
				"m+": this.getMinutes(),
				"s+": this.getSeconds(),
				"q+": Math.floor((this.getMonth() + 3) / 3),
				"S": this.getMilliseconds()
			};
			if (/(y+)/.test(fmt))
				fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
			for (var k in o)
				if (new RegExp("(" + k + ")").test(fmt))
					fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
			return fmt;
        }

        if (strEditId == "") { 
            // 编辑按钮 新增 资讯 直接编辑，其它显示预览
            $('#btnPreviewFile').css("display", "block");
            $('#btnPreviewEdit').css("display", "none"); 
			var validData = {
				F_ChineseTitle: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请输入中文标题'
						},
					}
				},
				F_EnglishTitle: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请输入英文标题'
						},
					}
				},
				uploadfile: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请选择上传文件'
						},
					}
				}, F_ReleaseDate: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请选择发布日期'
						},
					}
				},
				F_ImplementDate: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请选择实施日期'
						},
					}
				},
			}; 
        } else {
            $("#hidTotalUrl").val('@Model.F_TotalUrl');
		    $("#hidChineseUrl").val('@Model.F_ChineseUrl');
		    $("#hidEnglishUrl").val('@Model.F_EnglishUrl');
		    $("#hidHtmlContent").val('@Model.F_HtmlUrl');
		    var startDate = new Date('@Model.F_ReleaseDate').Format('yyyy-MM-dd');
		    $('#F_ReleaseDate').val(startDate);
            var endDate = new Date('@Model.F_ImplementDate').Format('yyyy-MM-dd'); 
            $('#F_ImplementDate').val(endDate); 
		    // 标签
            document.getElementById("F_Label").innerHTML = '@Model.F_Label'; 
		    var answerEdit = $("#hid_note2").val();
		    $('#note1').summernote('code', answerEdit); 
            var validData = {
				F_ChineseTitle: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请输入中文标题'
						},
					}
				},
				F_EnglishTitle: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请输入英文标题'
						},
					}
				},
				F_ReleaseDate: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请选择发布日期'
						},
					}
				},
				F_ImplementDate: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请选择实施日期'
						},
					}
				},
			}; 
		} 
		$("#form").bootstrapValidator({
			live: 'disabled',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
			excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
			submitButtons: '#btn-test',//指定提交按钮，如果验证失败则变成disabled，但我没试成功，反而加了这句话非submit按钮也会提交到action指定页面
			message: '通用的验证失败消息',//好像从来没出现过
			feedbackIcons: {//根据验证结果显示的各种图标
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: validData
		});
		// 开始日期
		$('#data_Release .input-group.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: false,
			autoclose: true,
			todayHighlight: true,
			todayBtn: false,
			language: "zh-CN",
			format: "yyyy-mm-dd",
			//endDate: new Date()
		}).on('changeDate', function (ev) {
			if (ev.date) {
				$("#data_Implement .input-group.date").datepicker('setStartDate', new Date(ev.date.valueOf()))
			} else {
				$("#data_Implement .input-group.date").datepicker('setStartDate', null);
			}
			});
		// 实施日期
		$('#data_Implement .input-group.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: false,
			todayHighlight: true,
			autoclose: true,
			todayBtn: false,
			language: "zh-CN",
			format: "yyyy-mm-dd",
			//endDate: new Date()
		}).on('changeDate', function (ev) {
			if (ev.date) {
				$("#data_Release .input-group.date").datepicker('setEndDate', new Date(ev.date.valueOf()))
			} else {
				$("#data_Release .input-group.date").datepicker('setEndDate', null);
			}
		}); 
	});

	function btnSave() { 
		var url = "/ContentManage/DocumentUpload/CreateModel?keyValue=" + '@ViewData["id"]';
        
        if (thisEditType == 2) {
            //编辑状态 直接取富文本框内容
            $("#hid_note2").val($('#note1').summernote('code'));
        } else {
            //预览状态 或者查看直接提交 取保存的数据
            $("#hid_note2").val($('#hidTempCode').val());
        } 
        $("#hid_note2").val( $('#hid_note2').val() ); 
		var fileTypeVal = parseInt($('#F_Type').val());
		if (fileTypeVal == 1) {
			// 领域
            SetHidValues('Domain');
            //采标
            SetHidValues('AcquisitionStandard'); 
		}
		if (fileTypeVal == 2) {
			// 发布方
            SetHidValues('Publisher'); 
            // 方向
            SetHidValues('Direction');  
        }
        $.blockUI({
            message: '<h2 style="color:black;font-size: 14px;"><br>数据加载中...</h2><br>'
        });
        var data = $("#form").serialize();
        //debugger
        //var data = { 
        //    Hid_ZiXunContent =$("#hid_note2").val(),
        //    htmlUrl =$("#hidHtmlContent").val(),
        //    F_ChineseUrl =$("#hidChineseUrl").val(),
        //    F_EnglishUrl =$("#hidEnglishUrl").val(),
        //    F_TotalUrl =$("#hidTotalUrl").val(),
        //    F_Type =$("#F_Type").val(),
        //    F_ChineseTitle =$("#F_ChineseTitle").val(),
        //    F_EnglishTitle =$("#F_EnglishTitle").val(),
        //    F_FileState =$("#hid_FileState").val(),
        //    F_Domain =$("#hid_Domain").val(),
        //    F_AcquisitionStandard =$("#hid_AcquisitionStandard").val(),
        //    F_Publisher =$("#hid_Publisher").val(),
        //    F_Direction =$("#hid_Direction").val(),
        //    F_Label =$("#F_Label").val(),
        //    F_ReleaseDate =$("#F_ReleaseDate").val(),
        //    F_ImplementDate =$("#F_ImplementDate").val(),
        //    F_Label =$("#F_Label").val(), 
        //    Hid_ZiXunContent=$("#hid_note2").val()
        //}
		$.ajax({
			url: url,
			type: 'post',
			data: data,
			success: function (result) {
                if (result == '操作成功') {
                    $.unblockUI();
					setTimeout(function () {
						toastr.options = {
							closeButton: true,
							progressBar: true,
							showMethod: 'slideDown',
							timeOut: 500
						};
						toastr.success('操作成功！');
					}, 100);
					setTimeout(function () {
						window.location.href = "/ContentManage/DocumentUpload/Index";
					}, 600);
				}
			}
		});
	}

	function changeFileType() {
		var fileStateVal = parseInt($('#F_Type').val());
		if (fileStateVal == 1) {
			$('#div_domain').css("display", "block");
			$('#div_caiBiao').css("display", "block");
			$('#div_publisher').css("display", "none");
			$('#div_direction').css("display", "none");
		}
		if (fileStateVal == 2) {
			$('#div_domain').css("display", "none");
			$('#div_caiBiao').css("display", "none");
			$('#div_publisher').css("display", "block");
			$('#div_direction').css("display", "block");
		} 
	}
    function checkFileState(text) {
        if (text != '有效' && text != '废止' && text != 'Effective' && text != 'Abolish' ) {
            $("#F_ImplementDate").val('');
            $("#divF_ImplementDateId").hide();
        }
        else {
            $("#divF_ImplementDateId").show();
        }
    }
    function previewFileNote() {
        thisEditType = 1;
        //预览把 去服务器处理 编辑器里的内容，返回后加载给编辑器
        $('#hidTempCode').val($('#note1').summernote('code'));
        var data = $("#form").serialize();
        $.ajax({
            url: '/ContentManage/DocumentUpload/SetEditHtmlContent',
            type: 'post',
            data: data,
            success: function (result) {
                $('#note1').summernote('code', result);
                $('#note1').summernote('destroy');
            }
        }); 
		$('#btnPreviewFile').css("display", "none");
		$('#btnPreviewEdit').css("display", "block");
	}

    function previewEditNote() {
        //编辑 把html内容放进来
        thisEditType = 2;
        if ($('#hidTempCode').val() == '') {  
            $('#note1').summernote('code', $('#F_HtmlContent').val())
            $('#hidTempCode').val($('#F_HtmlContent').val());
        }
        else {
            $('#note1').summernote('code', $('#hidTempCode').val()) 
        }
		$('#note1').summernote({ focus: true });
		$('#btnPreviewFile').css("display", "block");
		$('#btnPreviewEdit').css("display", "none");
	} 

    function changeSelected(id,initValue,elementType) {
        if (elementType == 1) {
          
            //单选 只有 类别
            var selectsRadio = document.getElementsByName(id);
            for (var i = 0; i < selectsRadio.length; i++) {
                if (selectsRadio[i].value == initValue) {
                    $('#' + selectsRadio[i].id + '').attr("checked", "checked");
                    checkFileState(selectsRadio[i].value);
                    $('#hid_FileState').val(initValue);
                    return;
				}
			}
        }
        else {
            //多选
            var selectsCheck = document.getElementsByName(id); 
            if (initValue != '' && initValue != null) {
                var strArray = initValue.split('^');
                if (strArray.length > 0) {
                    strArray.forEach(function (item) {
                        for (var i = 0; i < selectsCheck.length; i++) {
                            if (selectsCheck[i].value == item) {
                                $('#' + selectsCheck[i].id + '').attr("checked", "checked");
								break;
							}
						}
					});
				}
			}
        } 
    }

    function SetHidValues(type) { 
        var strCheckedVal = '';
        $("input:checkbox[name='" + type+"']:checked").each(function (item) { // 遍历name=test的多选框
            strCheckedVal += $(this).val() + '^';
        });
        strCheckedVal = strCheckedVal.substr(0, strCheckedVal.length - 1);
        $("#hid_" + type).val(strCheckedVal);
    }
    function setTab(cursel) {
      
        if (thisTab == 1 && cursel == 1) {
            //第1页，点了第1页，不操作 
        } else if (thisTab == 2 && cursel == 1) {
            tabChang(1);
            //第2页，点了第1页 等于上一步 不操作
        } else if (thisTab == 1 && cursel == 2) {  
            if (checkFrom()) {
                saveFiles();//上传成功后 调用
            }  
            //第1页，点了第2页 等于下一步 验证表单，并且上传
        } else if (thisTab == 2 && cursel == 2) {
            //第2页，点了第2页 不操作
        }
    }
    function checkFrom() {
        $("#form").bootstrapValidator('validate');//提交验证
        return $("#form").data('bootstrapValidator').isValid();  
    }
    function saveFiles() {
        var id = '@ViewData["id"]'; 
        var F_EnglishTitle = $("#F_EnglishTitle").val(); 
        var F_ChineseTitle = $("#F_ChineseTitle").val(); 
        if (id == '' || id == null) {
            //新增 
            var fd1 = new FormData();
            $.blockUI({
                message: '<h2 style="color:black;font-size: 14px;"><br>数据加载中...</h2><br>'
            }); 
            fd1.append("uploadfile", document.getElementById('uploadfile').files[0]);

            $.ajax({
                url: "/ContentManage/DocumentUpload/SaveFile?keyWord=&F_EnglishTitle=" + F_EnglishTitle+ "&F_ChineseTitle=" + F_ChineseTitle,
                type: "POST",
                data: fd1,
                async: true, 
                contentType: false, 
                processData: false,
                success: function (obj) {
                    if (obj != '') {
                        $("#hidChineseUrl").val(obj.ChineseUrl);
                        $("#hidEnglishUrl").val(obj.EnglishUrl);
                        $("#hidHtmlContent").val(obj.HtmlUrl);
                        $("#hidTotalUrl").val(obj.TotalUrl); 
                        tabChang(2); 
                        $.unblockUI();
                    }
                },
                error: function () {

                }
            });  
        } else {
            //  编辑  有文件就上传，没选，就不处理 
            if ($("#uploadfile").val() != '' && $("#uploadfile").val() != null) {
                var fd1 = new FormData(); 
                $.blockUI({
                    message: '<h2 style="color:black;font-size: 14px;"><br>数据加载中...</h2><br>'
                });
                fd1.append("uploadfile", document.getElementById('uploadfile').files[0]);


                $.ajax({
                    url: "/ContentManage/DocumentUpload/SaveFile?keyWord=" + id+"&F_EnglishTitle=" + F_EnglishTitle+ "&F_ChineseTitle=" + F_ChineseTitle,
                    type: "POST",
                    data: fd1,
                    async: false,
                    contentType: false,
                    processData: false,
                    success: function (obj) {
                        if (obj != '') {
                            $("#hidChineseUrl").val(obj.ChineseUrl);
                            $("#hidEnglishUrl").val(obj.EnglishUrl);
                            $("#hidHtmlContent").val(obj.HtmlUrl);
                            $("#hidTotalUrl").val(obj.TotalUrl);
                            tabChang(2); 
                            $.unblockUI();
                        }
                    },
                    error: function () {

                    }
                });
            } else {   
                tabChang(2);
            }
        } 
    } 
    function tabChang(cursel) {
        for (i = 1; i <= 2; i++) {
            var menu = document.getElementById('a' + i);
            var con = document.getElementById("con_a_" + i);
            menu.className = i == cursel ? "curr" : "";
            con.style.display = i == cursel ? "block" : "none";
        }
        thisTab = cursel;
        if (cursel == 1) { 
            $("#liUpPage").hide();
            $("#liDownPage").show();
            $("#liSubmitPage").hide();
        }
        else if (cursel == 2) {  
            loadSecendTabData();
            $("#liUpPage").show();
            $("#liDownPage").hide();
            $("#liSubmitPage").show();
        }
    }
    function loadSecendTabData() { 
        var htmlUrl = $("#hidHtmlContent").val();
        var totalUrl = $("#hidTotalUrl").val();
	  
	    $('#note1').summernote({
		    lang: 'zh-CN',
		    codemirror: {
			    theme: 'monokai'
		    },
		    disableDragAndDrop: true,
	    });
	    var isEdit = false;
        if (strEditId != '' && strEditId != null) {
            isEdit = true;
            $('#note1').summernote('destroy');// 编辑进来的 直接销毁
        } 
        $.blockUI({
            message: '<h2 style="color:black;font-size: 14px;"><br>数据加载中...</h2><br>'
        });
        $.ajax({
            url: '/ContentManage/DocumentUpload/GetWordContent?keyValue=' + totalUrl + "&isEdit=" + isEdit,
            datatype: 'json',
            type: 'get',
            async: true,
            success: function (result) {
                //预览用 先显示出来
                if (result != '' && result != null) {
                    $('#hidChineseId').val(result);
                    var answer = $("#hidChineseId").val();
                    $('#note1').summernote('code', answer);
                    $('#note1').summernote('destroy');

                }
                $.unblockUI();
                $('#btnPreviewFile').css("display", "none");
                $('#btnPreviewEdit').css("display", "block");
            }
        });
        $.ajax({
            url: '/ContentManage/DocumentUpload/GetWordContent?keyValue=' + htmlUrl + "&isEdit=" + isEdit,
            datatype: 'json',
            type: 'get',
            async: false,
            success: function (result) {
                //编辑用 先保存到F_HtmlContent 点编辑的时候 替换内容
                if (result != '' && result != null) {
                    $('#F_HtmlContent').val(result);
                    $('#hidTempCode').val(result);
                }
            }
        });
    }
   </script>
<style>
    p:hover {
        background: #e8e8e8;
    }
    .tab {
        height: 23px;
    } 
        .tab ul {
            list-style: none;
        }

        .tab li {
            border: 1px solid #ccc;
            background: #eee;
            cursor: pointer;
            display: block;
            float: left;
            text-align: center;
            text-decoration: none;
            width: 200px;
            font-size: 12px;
            height: 21px;
            line-height: 21px;
            margin: 0 2px;
            position: relative;
            top: 1px;
            z-index: 9;
        }

            .tab li:hover {
                text-decoration: underline;
            }

            .tab li.curr {
                background: #fff;
                border-bottom-color: #fff;
                cursor: default;
                font-weight: bold;
            }

    .cc {
        border: 1px solid #ccc;
        padding: 10px;
    }


</style>
<div class="row wrapper border-bottom white-bg page-heading" style="margin-left: -0px;">
    <div class="col-lg-10">
        <ol class="breadcrumb" style="padding:10px 0px 0px 10px;">
            <li>
                <a>内容管理</a>
            </li>
            <li class="active">
                <strong>文档上传</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@((@ViewData["id"]+"") == "" ? "新建" : "编辑")文档</h5>
                </div>
                <div class="ibox-content">
                    <form id="form" class="wizard-big">
                        <div class="tab">
                            <ul>
                                <li id="a1" onclick="setTab(1)" class="curr">新建信息</li>
                                <li id="a2" onclick="setTab(2)">调整内容</li>
                            </ul>
                        </div>
                        <div id="con_a_1" class="cc">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>文档分类</label>
                                        <select class="form-control" id="F_Type" name="F_Type" onchange="changeFileType()">
                                            <option value="1">标准</option>
                                            <option value="2">法规</option> 
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>中文标题</label>
                                        <input type="text" class="form-control" placeholder="中文标题" name="F_ChineseTitle" id="F_ChineseTitle" value="@Model.F_ChineseTitle">
                                    </div>
                                    <div class="form-group">
                                        <label>英文标题</label>
                                        <input type="text" class="form-control" placeholder="英文标题" name="F_EnglishTitle" id="F_EnglishTitle" value="@Model.F_EnglishTitle">
                                    </div>
                                    <div class="form-group" id="div_state">
                                        <label>状态</label>
                                        <div id="state_Id">

                                        </div>
                                        <input type="hidden" id="hid_FileState" />
                                    </div>
                                    <div class="form-group" id="div_domain">
                                        <label>领域</label>
                                        <div id="F_Domain">
                                        </div>
                                        <input type="hidden" name="F_Domain" id="hid_Domain" />
                                    </div>
                                    <div class="form-group" id="div_caiBiao">
                                        <label>采标</label>
                                        <div id="F_CaiBiao">
                                        </div>

                                        <input type="hidden" name="F_AcquisitionStandard" id="hid_AcquisitionStandard" />
                                    </div>
                                    <div class="form-group" id="div_publisher">
                                        <label>发布方</label>
                                        <div id="F_Publisher">
                                        </div>
                                        <input type="hidden" name="F_Publisher" id="hid_Publisher" />
                                    </div>
                                    <div class="form-group" id="div_direction">
                                        <label>方向</label>
                                        <div id="F_Direction">
                                        </div>
                                        <input type="hidden" name="F_Direction" id="hid_Direction" />
                                    </div>
                                    <div class="form-group" id="divF_ReleaseDateId">
                                        <label>发布日期</label>
                                        <div id="data_Release">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" name="F_ReleaseDate" id="F_ReleaseDate" readonly="readonly">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divF_ImplementDateId">
                                        <label>实施日期</label>
                                        <div id="data_Implement">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" name="F_ImplementDate" id="F_ImplementDate" readonly="readonly">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divF_Lable">
                                        <label>标签</label>
                                        <textarea class="form-control col-sm-3" name="F_Label" id="F_Label"></textarea>
                                    </div>
                                    <div class="form-group" id="div_uploadfileId" style="margin-top: 60px;">
                                        <label>上传文件</label>
                                        <input type="file" name="uploadfile" id="uploadfile" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="con_a_2" class="cc" style="display:none;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="button" value="预览" id="btnPreviewFile" class="btn btn-info" onclick="previewFileNote()" />
                                        <input type="button" value="编辑" id="btnPreviewEdit" class="btn btn-info" onclick="previewEditNote()" style="display:none" />
                                    </div>
                                    <div class="summernote" id="note1">
                                    </div>
                                    <input type="hidden" id="hid_note2" name="Hid_ZiXunContent" value="" />
                                </div>
                            </div>
                        </div>


                        <ul role="menu" aria-label="Pagination">
                        <li id="liUpPage"  aria-disabled="true">
                            <a href="#previous"  onclick="setTab(1)"  role="menuitem">上一步</a>
                            </li>
                        <li id="liDownPage"  aria-hidden="false"  aria-disabled="true">
                            <a href="#next"  onclick="setTab(2)"  role="menuitem">下一步</a>
                            </li>
                        <li id="liSubmitPage"  aria-hidden="true" style="display: none;">
                            <a href="#finish"  onclick="btnSave()"  role="menuitem">提交</a>
                            </li>
                        </ul>

                        <input type="hidden" id="hidChineseId" />
                        <input type="hidden" id="F_HtmlContent" name="F_HtmlContent" />
                        <input type="hidden" id="hidChineseUrl" name="F_ChineseUrl" />
                        <input type="hidden" id="hidEnglishUrl" name="F_EnglishUrl" />
                        <input type="hidden" id="hidHtmlContent" name="F_HtmlUrl" />
                        <input type="hidden" id="hidTotalUrl" name="F_TotalUrl" />
                        <input type="hidden" id="hidTempCode" name="hidTempCode" />
                        @Html.AntiForgeryToken()


                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 