
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $.ajax({
            url: '/SystemManage/ItemsType/GetTreeGridJson',
            datatype: 'json',
            type: 'get',
            async: false,
            success: function (result) {
                var htmlData;
                if (result != '' && result != null) {
                    var obj = eval('(' + result + ')');
                    $.each(obj, function () {
                        htmlData += '<option id=' + this.F_Id + ' value=' + this.F_Id + '>' + this.F_FullName + '</option>';
                    });
                    $("#F_ItemId").append(htmlData);
                    firstItemId = $("#F_ItemId").val();
                }
            }
		});

		$("#createMenu").bootstrapValidator({
			live: 'disabled',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
			excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
			submitButtons: '#btn-test',//指定提交按钮，如果验证失败则变成disabled，但我没试成功，反而加了这句话非submit按钮也会提交到action指定页面
			message: '通用的验证失败消息',//好像从来没出现过
			feedbackIcons: {//根据验证结果显示的各种图标
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
			    F_ItemName: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请输入名称'
						}
					}
				},
				F_ItemCode: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请输入编号'
						}
					}
				},
				F_SortCode: {
					validators: {
						notEmpty: {//检测非空,radio也可用
							message: '请输入排序'
						}
					}
				},
			}
		});

        var id = "@ViewData["id"]";
        if (id != '' && id != null) {
            // 上级
            $("#F_ItemId option[value='@Model.F_ItemId']").attr('selected', true);

            // 是否有效
            var isEnabledMark = '@Model.F_EnabledMark';
            if (isEnabledMark == 'True') {
                $('#trueRadio').attr("checked", "checked");
            } else {
                $('#falseRadio').attr("checked", "checked");
            }
        } else {
            $('#trueRadio').attr("checked", "checked");
        }
    })

	function btnSave() {
		$("#createMenu").bootstrapValidator('validate');//提交验证
		if ($("#createMenu").data('bootstrapValidator').isValid()) {
		var keyValue = '@ViewData["id"]';
        var data = $("#createMenu").serialize();
        $.ajax({
            url: "/SystemManage/ItemsData/CreateModel?keyValue=" + keyValue,
            type: 'post',
            data: data,
            success: function (result) {
                if (result == '操作成功') {
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 500
                        };
                        toastr.success('操作成功！');
                    }, 100);
                    setTimeout(function () {
                        window.location.href = '/SystemManage/ItemsData/Index';
                    }, 600);
                }
            }
        });
		}
	}

	function btnBack() {
		window.location.href = '/SystemManage/ItemsData/Index';
	}
</script>
<div class="row wrapper border-bottom white-bg page-heading" style="margin-left: -0px;">
    <div class="col-lg-10">
        <ol class="breadcrumb" style="padding:10px 0px 0px 10px;">
            <li>
                <a>工作台</a>
            </li>
            <li class="active">
                <strong>数据字典</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>@ViewData["title"]</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="createMenu">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-lg-2 control-label">上级</label>
                            <div class="col-lg-6">
                                <select class="form-control m-bot15" id="F_ItemId" name="F_ItemId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">名称</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="名称" name="F_ItemName" id="F_ItemName" value="@Model.F_ItemName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">英文名称</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="名称" name="F_ItemEnName" id="F_ItemEnName" value="@Model.F_ItemEnName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">编号</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="编号" name="F_ItemCode" id="F_ItemCode" value="@Model.F_ItemCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">排序</label>
                            <div class="col-lg-6">
                                <input type="number" class="form-control" placeholder="排序" name="F_SortCode" id="F_SortCode" value="@Model.F_SortCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">是否有效</label>
                            <div class="col-lg-6 radios">
                                <input name="F_EnabledMark" id="trueRadio" value="true" type="radio" />有效
                                <input name="F_EnabledMark" id="falseRadio" value="false" type="radio" />无效
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-success" type="button" onclick="btnSave()">保存</button>
                                <button class="btn btn-warning" type="button" onclick="btnBack()">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
